@{
    ViewData["Title"] = "Search Driver";
}

<h4>Search for a driver:</h4>
<hr />
<form asp-action="Search">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="search" class="control-label">Search Keyword</label>
                <input id="search" name="keyword" type="search" class="form-control mt-1" />
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>

    </div>

</form>